<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @food.description %>
</p>

<p>
  <strong>Components:</strong>
  <% Food::COMPONENT_GROUPS.each do |key, name| %>
    <br/><strong><%= name %></strong>
    <% empty_group = true %>
    <% @food.components.each do |component| %>
      <% if component["component_group"] == key %>
        <p><%= "#{component["name"]}: #{component["quantity"]} #{component["unit"]}" %></p>
        <% empty_group = false %>
      <% end %>
    <% end %>
    <% if empty_group %>
      <p>No hay componentes para esta categoria</p>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
