<h1 class="uk-heading-divider">Workout</h1>

<%= link_to 'Back', workouts_path %>

<p>
  <strong>Name:</strong>
  <%= @workout.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @workout.description %>
</p>

<p>
  <strong>Training days:</strong>
  <%= @workout.weekdays_sentence %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Exercises', workout_exercises_path(@workout) %> |
<%= link_to 'Series', workout_exercise_workouts_path(@workout) %>
