<h1>Meal Foods</h1>

<%= link_to 'Back', diet_meal_path(@diet, @meal) %>

<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meal_foods.each do |meal_food| %>
      <tr>
        <td><%= meal_food.food.name %></td>
        <td><%= "#{meal_food.quantity} #{meal_food.unit}" %></td>
        <td><%= link_to 'Show', [@diet, @meal, meal_food] %></td>
        <td><%= link_to 'Edit', edit_diet_meal_meal_food_path(@diet, @meal, meal_food) %></td>
        <td><%= link_to 'Destroy', [@diet, @meal, meal_food], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meal Food', new_diet_meal_meal_food_path(@diet, @meal) %>
