<%= form_with(model: [:admin, @diet, meal], local: true) do |form| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
        <% meal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :daytime %>
    <%= form.collection_select(:daytime, Daytimeable::DAYTIMES.collect.with_index.to_a, :second, :first.to_s, {include_blank: ''},{ class: "uk-input"}) %>
  </div>

  <%= form.fields_for :meal_foods do |mf_form| %>
    <div class="field">
      <%= mf_form.label :food_id %>
      <%= mf_form.collection_select(:food_id, Food.all, :id, :name, {include_blank: ''},{ class: "uk-input"}) %>
    </div>

    <div class="field">
      <%= mf_form.label :quantity %>
      <%= mf_form.number_field :quantity %>
    </div>

    <div class="field">
      <%= mf_form.label :unit %>
      <%= mf_form.collection_select(:unit, MealFood::UNITS, :to_s, :to_s, {include_blank: ''},{ class: "uk-input"}) %>
    </div>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
