<h1 class="uk-heading-divider"><%= link_to "", admin_diet_path(@diet), :"uk-icon" => "chevron-left", class: "uk-icon" %> Comida<%= link_to 'Editar', edit_admin_diet_meal_path(@diet, @meal), class:"uk-button uk-button-default uk-align-right" %></h1>

<h3><%= @meal.name %></h3>

<p>
  <strong>Hora del Dia:</strong>
  <%= @meal.name_daytime %>
</p>

<table>
  <thead>
    <tr>
      <th>Alimento</th>
      <th>Cantidad</th>
      <th><%= link_to '', new_admin_diet_meal_meal_food_path(@diet, @meal), :'uk-icon' => "icon: plus" %></th>
    </tr>
  </thead>

  <tbody>
    <% @meal.meal_foods.each do |meal_food| %>
      <tr>
        <td><%= meal_food.food.name %></td>
        <td><%= "#{meal_food.quantity} #{meal_food.unit}" %></td>
        <td>
          <ul class="uk-iconnav">
            <li><%= link_to '', edit_admin_diet_meal_meal_food_path(@diet, @meal, meal_food), :'uk-icon' => "icon: file-edit" %></li>
            <li><%= link_to '', [:admin, @diet, @meal, meal_food], method: :delete, data: { confirm: 'Estas seguro?' }, :'uk-icon' => "icon: trash" %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


