<button class="uk-offcanvas-close" type="button" uk-close></button>

<h3 class="uk-margin-remove-top"><%= @exercise.new_record? ? "Nuevo Ejercicio" : "Editar Ejercicio"%></h3>

<%= form_with(model: [:admin, @user, @exercise], remote: true) do |form| %>
  <% errors = @exercise.errors.present? ? @exercise.errors.messages : {} %>
  <fieldset class="uk-fieldset">
    <div class="uk-margin">
      <%= form.text_field :name, class: "uk-input#{" uk-form-danger" if errors[:name].present?}", placeholder: "Nombre" %>
    </div>
    
    <div class="uk-margin">
      <%= form.text_area :description, class: "uk-textarea", placeholder: "Descripción" %>
    </div>
  </fieldset>
  
  <div class="actions">
    <%= form.submit "Guardar", class: "uk-button uk-button-primary uk-width-1-1" %>
  </div>
<% end %>
