<h1>Weights</h1>

<%= link_to 'Back', authenticated_root_path %>

<table>
  <thead>
    <tr>
      <th>Score</th>
      <th>Date</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weights.each do |weight| %>
      <tr>
        <td><%= weight.score %></td>
        <td><%= weight.evaluation_date %></td>
        <td><%= weight.notes %></td>
        <td><%= link_to 'Show', weight %></td>
        <td><%= link_to 'Edit', edit_weight_path(weight) %></td>
        <td><%= link_to 'Destroy', weight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weight', new_weight_path %>
