<h1 class="uk-heading-divider"><%= link_to "", nutrition_path, :"uk-icon" => "chevron-left", class: "uk-icon" %> Peso</h1>

<ul class="uk-child-width-expand" uk-tab>
    <li class="uk-active"><a href="#">Monitor</a></li>
    <li><a href="#">Historial</a></li>
</ul>

<ul class="uk-switcher uk-margin">
    <li class="uk-active uk-text-center ">
      <% if @last_weight %>
        <p class="uk-padding-small"><%= @last_weight.evaluation_date.to_date %></p>
        <div class="uk-flex uk-flex-center">
            <h3 class="uk-text-bold"><span class="count"><%= '%.2f' % @last_weight.score %></span> Kg</h3>
        </div>
      <% else %>
        <p>No hay registros de peso, introuzcalo.</p>
      <% end %>
      <div class="uk-padding">
        <%= link_to 'Nuevo registro', new_weight_path, class:"uk-button uk-button-default" %>
      </div>
    </li>
    <li>
      <%= line_chart @weights.order(evaluation_date: :desc).map {|e| [e.evaluation_date.to_date, "#{'%.2f' % e.score} Kg"] } %>
      <table class="uk-table">
        <thead>
          <tr>
            <th>Fecha evaluacion</th>
            <th>Score</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @weights.each do |weight| %>
            <tr>
              <td><%= weight.evaluation_date.to_date %></td>
              <td><%= '%.2f' % weight.score %></td>
              <td><%= link_to 'Ver', weight %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </li>
</ul>

<script>
$(document).ready(function() {

  var counters = $(".count");
  var countersQuantity = counters.length;
  var counter = [];

  for (i = 0; i < countersQuantity; i++) {
    counter[i] = parseInt(counters[i].innerHTML);
  }

  var count = function(start, value, id) {
    var localStart = start;
    setInterval(function() {
      if (localStart < value) {
        localStart++;
        counters[id].innerHTML = localStart;
      }
    }, 20);
  }

  for (j = 0; j < countersQuantity; j++) {
    count(0, counter[j], j);
  }
});
</script>