<button class="uk-offcanvas-close" type="button" uk-close></button>

<h3>Añadir Alimento</h3>

<%= form_with(model: [:admin, @diet, @meal], local: true) do |form| %>
    <%= form.fields_for :meal_foods, @meal.meal_foods.build do |m_fields| %>
    <div class="uk-margin">
        <%= m_fields.collection_select(:food_id, Food.all, :id, :name, {include_blank: 'Selecciona un alimento'},{ class: "uk-select"}) %>
    </div>
    <div class="uk-margin">
        <%= m_fields.number_field :quantity, class: "uk-input", placeholder: "Cantidad" %>
    </div>
    <div class="uk-margin">
        <%= m_fields.collection_select(:unit, MealFood::UNITS, :to_s, :to_s, {include_blank: '', selected: "g" },{ class: "uk-select"}) %>
    </div>
    <% end %>    
    <div class="uk-margin">
        <%= form.submit "Añadir", class:"uk-button uk-button-default" %>
    </div>
<% end %>