<div class="uk-vertical-align-middle" style="width: 250px;">
  <%= form_with(model: resource, as: resource_name, url: session_path(resource_name), local: true, class: '') do |f| %> 
    <div class="uk-margin-small uk-inline">
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
      <%= f.email_field :email, autofocus: true, class: "uk-input", placeholder: "Email" %>
    </div>

    <div class="uk-margin-small uk-inline">
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
      <%= f.password_field :password, class: "uk-input", placeholder: "Password" %>
    </div>
   
    <div class="uk-padding-small">
      <%= f.submit "Login", class:"uk-width-1-1 uk-button uk-button-primary" %>
    </div>
    <div class="uk-padding-small uk-text-small">
      <%= link_to "Forgot Password?", new_password_path(resource_name), class: "uk-float-right uk-link uk-link-muted" %>
    </div>
  <% end %>
</div>