<h1 class="uk-heading-divider">Food</h1>

<%= link_to 'Back', foods_path %>

<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @food.description %>
</p>

<p>
  <strong>Nutrients:</strong>
  <% Food::COMPONENT_GROUPS.each do |key, name| %>
    <% if @food.food_nutrients.by_component_group(key).present? %>
      <br/><strong><%= name %></strong>
      <% @food.food_nutrients.by_component_group(key).each do |fn| %>
          <p><%= "#{fn.nutrient.name}: #{fn.quantity} #{fn.unit}" %></p>
      <% end %>
    <% end %>
  <% end %>
</p>