<h1>Food</h1>

<%= link_to 'Back', foods_path %>

<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @food.description %>
</p>

<p>
  <strong>Nutrients:</strong>
  <% Food::COMPONENT_GROUPS.each do |key, name| %>
    <br/><strong><%= name %></strong>
    <% empty_group = true %>
    <% @food.food_nutrients.by_component_group(key).each do |fn| %>
        <p><%= "#{fn.nutrient.name}: #{fn.quantity} #{fn.unit}" %></p>
        <% empty_group = false %>
    <% end %>
    <% if empty_group %>
      <p>No hay componentes para esta categoria</p>
    <% end %>
  <% end %>
</p>