<h1 class="uk-heading-divider"><%= link_to "", nutrition_path, :"uk-icon" => "chevron-left", class: "uk-icon" %> Dietas <%= link_to 'Nueva Dieta', new_diet_path, class:"uk-button uk-button-default uk-align-right" %></h1>

<div uk-grid>
    <div class="uk-width-expand@m">
      <table class="uk-table uk-table-divider uk-table-small uk-table-justify">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Dias de Aplicación</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @diets.each do |diet| %>
          <tr>
            <td><%= diet.name %></td>
            <td><%= diet.description %></td>
            <td><%= diet.weekdays_sentence %></td>
            <td><%= link_to '', diet, :"uk-icon" => "chevron-right", class: "uk-icon"%></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
</div>
