<h1 class="uk-heading-divider"><%= link_to "", nutrition_path, :"uk-icon" => "chevron-left", class: "uk-icon" %> Dietas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Dias de la semana</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diets.each do |diet| %>
      <tr>
        <td><%= diet.name %></td>
        <td><%= diet.description %></td>
        <td><%= diet.weekdays_sentence %></td>
        <td><%= link_to 'Ver', diet %></td>
        <td><%= link_to 'Edit', edit_diet_path(diet) %></td>
        <td><%= link_to 'Eliminar', diet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva dieta', new_diet_path %>
