<%= link_to 'Home', authenticated_root_path %> / <%= link_to 'Nutricion', diets_path %>

<h1><%= @diet.name %></h1>

<%= link_to 'Edit', edit_diet_path(@diet) %> |

<p>
  <strong>Description:</strong>
  <%= @diet.description %>
</p>

<p>
  <strong>Weekdays:</strong>
  <%= @diet.weekdays_sentence %>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Daytime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diet.meals.each do |meal| %>
      <tr>
        <td><%= meal.name %></td>
        <td><%= meal.name_daytime %></td>
        <td><%= link_to 'Ver', [@diet, meal] %></td>
        <td><%= link_to 'Borrar', [@diet, meal], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Añadir Comida', new_diet_meal_path(@diet, @meal) %> 