<h1 class="uk-heading-divider"><%= link_to "", diets_path, :"uk-icon" => "chevron-left", class: "uk-icon" %> 
  <%= @diet.name %>
  <% if @diet.creator == @current_user %>
    <%= link_to 'Editar Dieta', edit_diet_path(@diet), class:"uk-button uk-button-default uk-align-right" %>
  <% end %>
</h1>

<p>
  <strong>Descripción:</strong>
  <%= @diet.description %>
</p>

<p>
  <strong>Dias de la Semana:</strong>
  <%= @diet.weekdays_sentence %>
</p>

<table class="uk-table uk-table-divider uk-table-small uk-table-justify">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Hora del Dia</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @diet.meals.each do |meal| %>
    <tr>
      <td><%= meal.name %></td>
      <td><%= meal.name_daytime %></td>
      <td><%= link_to '', [:admin, @diet, meal], :"uk-icon" => "chevron-right", class: "uk-icon"%></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Añadir Comida', new_admin_diet_meal_path(@diet), class:"uk-button uk-button-default" %>