<h1 class="uk-heading-divider"><%= link_to "", admin_diets_path, :"uk-icon" => "chevron-left", class: "uk-icon" %> <%= @diet.name %><%= link_to 'Editar Dieta', edit_admin_diet_path(@diet), class:"uk-button uk-button-default uk-align-right" %></h1>

<div class="uk-margin-medium" uk-grid>

    <div class="uk-width-1-1 uk-width-auto@s">
      <div class="uk-card uk-card-large uk-card-default uk-card-body">
        <h3><%= @diet.name %></h3>
        <p>
          <strong>Descripción:</strong>
          <%= @diet.description %>
        </p>

        <p>
          <strong>Dias aplicados:</strong>
          <%= @diet.weekdays_sentence %>
        </p>
      </div>
    </div>

    <div class="uk-width-expand">

      <ul class="uk-list uk-list-divider">
        <% @diet.meals.each do |meal| %>
        <li class="uk-flex">
          <div class="uk-width-1-1 uk-width-expand">
            <%= meal.name %>
          </div>
          <div class="uk-width-1-1 uk-width-auto@s uk-margin-small-left">
            <%= meal.name_daytime %>
          </div>
          <div class="uk-width-1-1 uk-width-auto@s uk-margin-left">
            <ul class="uk-iconnav">
              <li><%= link_to '', [:admin, @diet, meal], :'uk-icon' => "icon: file-edit" %></li>
              <li><%= link_to '', [:admin, @diet, meal], method: :delete, data: { confirm: 'Estas seguro?' }, :'uk-icon' => "icon: trash" %></li>
            </ul>
          </div>
        </li>
        <%end%>
      </ul>
    </div>

</div>

<%= form_with(model: [:admin, @diet], local: true, class: "uk-flex uk-width-1-1") do |form| %>
  <div class="uk-width-3-4">
    <%= form.fields_for :diet_meals, @diet.diet_meals.build do |dm__fields| %>
      <p><%= dm__fields.collection_select(:meal, Meal.all-@diet.meals , :id, :name, {include_blank: ''},{ class: "uk-select"}) %></p>
    <% end %>
  </div>
  <div class="uk-width-1-4">
    <%= form.submit "Añadir Comida", class:"uk-margin-small-left uk-button uk-button-default" %>
  </div>
<% end %>

<%= link_to 'Crear comida', new_admin_diet_meal_path(@diet), class:"uk-margin-top uk-margin-small-left uk-button uk-button-default" %>


