<h1 class="uk-heading-divider"><%= link_to "", admin_users_path, :"uk-icon" => "chevron-left", class: "uk-icon" %> <%= @user.full_name %></h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Birth Date:</strong> 
  <%= @user.birth_date.try(:to_date) %>
</p>

<p>
  <strong>DNI:</strong> 
  <%= @user.dni %>
</p>

<p>
  <strong>Address:</strong> 
  <%= @user.address %>
</p>

<p>
  <strong>Phone:</strong> 
  <%= @user.phone %>
</p>

<%= link_to 'Diets', admin_user_diets_path(@user) %> |
<%= link_to 'Evaluations',  admin_user_evaluations_path(@user) %> |
<%= link_to 'Measurements', admin_user_measurements_path(@user) %> |
<%= link_to 'Weights',  admin_user_weights_path(@user) %> |
<%= link_to 'Workouts', admin_user_workouts_path(@user) %> |

<%= link_to 'Edit', edit_admin_user_path(@user) %> 

