<h1 class="uk-heading-divider"><%= link_to "", admin_users_path, :"uk-icon" => "chevron-left", class: "uk-icon" %> Usuario<%= link_to 'Editar', edit_admin_user_path(@user), class:"uk-button uk-button-default uk-align-right" %></h1>
<div class="uk-position-relative uk-margin-medium">
<div class="uk-algin-center" uk-grid>
    <div class="uk-grid-match uk-width-1-2@s uk-width-1-3@l uk-width-1-4@xl uk-grid-match">
        <div class="uk-card <%= @user.is_admin? ? "uk-card-secondary" : "uk-card-default" %> uk-card-body user-profile-card uk-align-center">
          <div class="uk-card-header uk-padding-remove-horizontal">
            <%= link_to image_tag(@user.avatar_sized(:big), class: "uk-border-circle uk-align-center square-200"), edit_admin_user_path(@user) %>
            <h3><%= @user.full_name %></h3>
          </div>
          <div class="uk-card-body uk-padding-remove-horizontal">
            <p>
              <strong>Correo:</strong>
              <%= @user.email %>
            </p>
            <p>
              <strong>Fecha de Nacimiento:</strong> 
              <%= @user.birth_date.try(:to_date) %>
            </p>
            <p>
              <strong>DNI:</strong> 
              <%= @user.dni %>
            </p>
            <p>
              <strong>Dirección:</strong> 
              <%= @user.address %>
            </p>
            <p>
              <strong>Teléfono:</strong> 
              <%= @user.phone %>
            </p>
          </div>
        </div>
     </div>
    <div class="uk-grid-match uk-width-1-2@s uk-width-2-3@l uk-width-3-4@xl" uk-grid>
      <% [ 
        ['Editar', edit_admin_user_path(@user)],
        ['Dietas', admin_user_diets_path(@user)],
        ['Evaluaciones', admin_user_evaluations_path(@user)],
        ['Medidas', admin_user_measurements_path(@user)],
        ['Pesos', admin_user_weights_path(@user)],
        ['Workouts', admin_user_workouts_path(@user)]
      ].each do |link_url| %>
        <div class="uk-grid-match uk-width-1-2@s uk-width-1-3@l uk-width-1-4@xl">
          <%= link_to link_url[1], class:"uk-card uk-card-default uk-card-small uk-card-hover uk-card-body uk-link-reset uk-text-center" do %>
              <h3 class="uk-card-title"><%= link_url[0] %></h3>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
</div>