<!DOCTYPE html>
<html>
  <head>
    <title>Spartan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'custom', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="">
    <% if current_user.present? %>
      <%= render 'shared/navbars/admin_navbar' %>
    <% else %>
      <%= render 'shared/navbars/guest_navbar' %>
    <% end %>
    <div class="tm-main">
      <% if current_user.present? %>
        <%= render 'shared/navbars/breadcrumbs' %>
      <% end %>
      <div class="uk-margin">
        <div class="uk-container uk-position-relative">
          <%= yield %>
        </div>
      </div>
      <%#= render partial: "shared/navbars/navbar_bottom" %>
    </div>
    <% if current_user.present? %>
      <%= render 'shared/modal' %>
      <%= render 'shared/canvas/menu' %>
      <%= render 'shared/edition_canvas' %>
    <% end %>
  </body>
  <%= render 'shared/loader' %>
</html>

<script>
  $(".ajaxNew[data-link]").on("click", function (e) {
    $("#loading").show();
    UIkit.offcanvas("#edition-canvas-container").hide();
    $.ajax({
      url: this.getAttribute('data-link'),
      dataType: "script",
      type: "GET",
      success: function (response, status, xhr) {
        $("#edition-canvas").html(xhr.response);
        UIkit.offcanvas("#edition-canvas-container").show();
        $("#loading").hide();
        return false;
      },
      error: function (data) { $("#loading").hide(); }
    });
  });
</script>

<% unless flash.empty? %>
   <script type="text/javascript">
      <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
        toastr['<%= type %>']('<%= f[1] %>');
      <% end %>
   </script>
   <% flash.clear %>
<% end %>
