<!DOCTYPE html>
<html class="uk-height-1-1">
  <head>
    <title>Spartan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'custom', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="uk-height-1-1">
    <% if current_user.present? %>
      <%= render 'shared/navbars/navbar' %>
    <% end %>
    <div class="uk-height-1-1 tm-main uk-section uk-section-default">
      <div class="uk-height-1-1 uk-container uk-container-small uk-position-relative">
        <%= yield %>
      </div>
      <%#= render partial: "shared/navbars/navbar_bottom" %>
    </div>
    <%= render 'shared/modal' %>
  </body>
  <div id="loading" class="load3 uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
    <div class="loader"></div>
    <%= image_tag "app/logo2", alt:"Loading...", height: '32', width: '32', class: "uk-position-center"%>
  </div>
</html>

<script>
  // Spinner on AJAX
  $(document).ajaxStart(function(){
    $("#loading").show();
  });
  // hide spinner on AJAX stop
  $(document).ajaxStop(function(){
    $("#loading").delay(3000).hide();
  });

  //Spinner on Turbolinks
  $(document).on("turbolinks:click", function(){
    $("#loading").show();
  });
  $(document).on("turbolinks:load", function(){
    $("#loading").delay(3000).hide();
  });
</script>

<% unless flash.empty? %>
   <script type="text/javascript">
      <% flash.each do |f| %>
    <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
   	 toastr['<%= type %>']('<%= f[1] %>');
   <% end %>
   </script>
<% end %>
